@import "./variables";

.red {
    color: red;
  }
  
  .bgBlue {
    background-color: blue;
  }
  
  .bgDarkBlue {
    background-color: darkblue;
  }
  
  .bgBlack {
    background-color: black;
  }
  
  .bgWhite {
    background-color: white;
  }
  
  .bgDark {
    background-color: rgb(46, 46, 46);
  }
  
  .bgDarkGray {
    background-color: darkgray;
  }
  
  .bgDarkRed {
    background-color: darkred;
  }
  
  .bgLightBlue {
    background-color: lightblue;
  }
  
  .bgViolet {
    background-color: violet;
  }
  
  .bgLightSlateGray {
    background-color: lightslategray;
  }
  
  .bgLightSeaGreen {
    background-color: lightseagreen;
  }
  
  .bgNavy {
    background-color: navy;
  }
  
  .bgSkyBlue {
    background-color: skyblue;
  }
  
  .bgMidnightBlue {
    background-color: midnightblue;
  }
  
  .bgGainsboro {
    background-color: gainsboro;
  }
  
  .bgDarkSlateBlue {
    background-color: darkslateblue;
  }
  
  .bgGhostWhite {
    background-color: ghostwhite;
  }
  
  .bgDimGray {
    background-color: dimgray;
  }
  
  .bgTeal {
    background-color: teal;
  }
  
  .bgDarkSlateGray {
    background-color: DarkSlateGray;
  }
  
  .bgDarkViolet {
    background-color: darkviolet;
  }
  
  .bgCyan {
    background-color: cyan;
  }
  
  .bgDarkCyan {
    background-color: darkcyan;
  }
  
  .bgYellow {
    background-color: yellow;
  }
  
  .bgGold {
    background-color: gold;
  }
  
  .bgDarkGreen {
    background-color: darkgreen;
  }
  
  .bgRed {
    background-color: red;
  }
  
  .bgGreen {
    background-color: green;
  }
  
  .bgGray {
    background-color: gray;
  }
  
  .black {
    color: black;
  }
  
  .white {
    color: white;
  }
  
  .blue {
    color: blue;
  }
  
  .red {
    color: red;
  }
  
  .yellow {
    color: yellow;
  }
  
  .blueviolet {
    color: blueviolet;
  }
  
  .darkblue {
    color: darkblue;
  }
  
  .darkred {
    color: darkred;
  }
  
  .crimson {
    color: crimson;
  }
  
  .brown {
    color: brown;
  }
  
  .green {
    color: green;
  }
  
  .darkgreen {
    color: darkgreen;
  }
  
  .deeppink {
    color: deeppink;
  }
  
  .chocolate {
    color: chocolate;
  }
  
  .cyan {
    color: cyan;
  }
  
  .deepskyblue {
    color: deepskyblue;
  }
  
  .dimgray {
    color: dimgray;
  }
  
  .lightseagreen {
    color: lightseagreen;
  }
  
  .seagreen {
    color: seagreen;
  }
  
  .slategray {
    color: slategray;
  }
  
  .steelblue {
    color: steelblue;
  }
  
  .teal {
    color: teal;
  }